<!DOCTYPE html>
<html>

<head>
  <title></title>
  <style type="text/css">
 
  .figure{
    width:200px;
    height:200px;
    border-radius:10% 10% 10% 10%;
    /* border-radius: 50% 50% 50% 50%: */
    overflow:hidden;
}  

  </style>

</head>
<body>

<p>Dear {{name}},</p>

 <p style="color:blue; font-style: italic;" >
Attached is my cash offer for 5541 NW 174TH DR in MIAMI. I'm a rehabber looking for inventory. I'll make offers on any of your distressed or problem listings. I like properties that need work. I don't have an agent for this transaction so all the commission is yours :- )
</p>

<p>
<p>Best Regards,</p>
<p style="color:blue; font-style: italic;" >Jay Parteek, Trustee</p>
<p style="color:blue;" >Liberty Trust Group, LLC</p>
<p style="color:blue;" >Cell - (954)-544-7243</p>
<p style="color:blue;" >www.LibertyTrustGroup.com</p>
<p style="color:blue; font-style: italic;" >"We Put New Life in Distressed Homes"</p>
</p>

<figure><img src="https://pbs.twimg.com/profile_images/555169546600841216/jJAh4Ba7.jpeg" width="200"> 
    <p>Image distorted!<p>
</figure>


<p><font size="1">
Confidentiality note: The information contained in this electronic mail is privileged and confidential and is intended for the use of the individual or entity named above. If the reader of this message is not the intended recipient, you are hereby notified that any dissemination, distribution or copy of this electronic mail is strictly prohibited. If you've received this electronic mail in error, please immediately notify the sender and delete all copies.
</p>

</body>
</html>