

    <div ng-controller="PropertiesListController" layout-fill="" layout="column" class="inset toastdemoBasicUsage" ng-cloak="" paddi="" ng-app="MyApp">
    <div layout="row" layout-align="space-around">
      <div style="width:50px"></div>

      <div style="width:50px"></div>
    </div>
    <div layout="row" id="toastBounds">
<!--       <div>
        <p><b>Toast Position: "{{getToastPosition()}}"</b></p>
        <md-checkbox ng-repeat="(name, isSelected) in toastPosition" ng-model="toastPosition[name]">
          {{name}}
        </md-checkbox>
      </div> -->
   </div>
</div>


    <md-content laout="column" flex ng-controller="PropertiesListController">
    <md-toolbar class="md-whiteframe-1dp">
      <div class="md-toolbar-tools">
        <div class="md-title">Liberty Trust Group</div>
      </div>
    </md-toolbar>

    
    <md-content laout="column" flex ng-controller="PropertiesListController">
      
      <md-card>
        <div layout="row" layout-wrap class="checkboxes">
          <md-checkbox ng-model="options.rowSelection">Row Selection</md-checkbox>
          <md-checkbox ng-model="options.multiSelect">Multiple Selection</md-checkbox>
          <md-checkbox ng-model="options.autoSelect">Auto Selection</md-checkbox>
          <md-checkbox ng-model="options.decapitate">Decapitate</md-checkbox>
          <md-checkbox ng-model="options.largeEditDialog">Lard Edit Dialogs</md-checkbox>
          <md-checkbox ng-model="options.boundaryLinks">Pagination Boundary Links</md-checkbox>
          <md-checkbox ng-model="options.limitSelect" ng-click="toggleLimitOptions()">Pagination Limit Select</md-checkbox>
          <md-checkbox ng-model="options.pageSelect">Pagination Page Select</md-checkbox>
        </div>
      </md-card>
      
      <md-card>
        
        <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
          <div class="md-toolbar-tools">
            <span>make your selection</span>
                 
            <div flex>
            </div>

            <md-button class="md-icon-button" ng-click="loadStuff()">
              <md-icon>refresh</md-icon>
            </md-button>



          <md-button class="md-icon-button" ng-click="sendEmail()">
          <i class="material-icons">email</i>
            </md-button>



          </div>
        </md-toolbar>



<!-- these properties selected -->

       <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
          <div class="md-toolbar-tools">
            <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
        
                <md-button class="md-icon-button" ng-click="sendEmail()">
                          <i class="material-icons">email</i>
                 </md-button>

                <md-button class="md-icon-button" ng-click="justCalled()">
                          <i class="material-icons">done</i>
                 </md-button>


          </div>
        </md-toolbar>
<!-- upto here -->


<section>

<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>Nutrition</span>
  </div>
</md-toolbar>

<!-- exact table from live demo -->
       <md-table-container>
          <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
            <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
              <tr md-row>
                <th md-column md-order-by="address"><span>Address</span></th>
                <th md-column md-numeric md-order-by="fat.value"><span>Phone no</span></th>
                <th md-column md-order-by="type"><span>Status</span></th>                
                <th md-column md-order-by="type"><span>Priority</span></th>
                <th md-column md-numeric md-order-by="carbs.value"><span>Agent</span></th>
                <th md-column md-numeric md-order-by="calories.value" md-desc><span>City</span></th>
                <th md-column md-numeric md-order-by="protein.value"><span>Email</span></th>
                <th md-column md-numeric md-order-by="sodium.value" hide-gt-xs show-gt-md><span>Sodium (mg)</span></th>
                <th md-column md-numeric md-order-by="calcium.value" hide-gt-xs show-gt-lg><span>Calcium (%)</span></th>
                <th md-column md-numeric md-order-by="iron.value" hide-gt-xs show-gt-lg><span>Iron (%)</span></th>
                <th md-column md-order-by="comment">
                  <md-icon>comments</md-icon>
                  <span>Comments</span>
                </th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="property" md-on-select="logItem" md-auto-select="options.autoSelect" ng-disabled="dessert.calories.value > 400" ng-repeat="property in properties | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                
                <td md-cell>{{property.address}} {{property.city}}</td>
      

            <td md-cell>   <a href="tel:{{property.phone_no}}"> {{property.phone_no}}</a> </td>

            <td md-cell> 
                <md-button class="md-icon-button" ng-click="justCalled()">
                          <i class="material-icons">done</i>
                 </md-button>  
            </td>

 
            <td md-cell>  
              <md-select  ng-change="selectChangedPriority(dessert.type)"  ng-model="dessert.type" placeholder="{{property.call_priority}}" md-on-select="logItemType" ng-value="{{type}}" > 
                
                <md-option ng-value="type" ng-repeat="type in getTypes()">{{type}}</md-option>

              </md-select>
            </td>
          
                 <!-- <td md-cell>{{property.phone_no}}</td> -->
                 <td md-cell>{{property.agentName}}</td>
                 <td md-cell>{{property.city}}</td>              
                 <td md-cell>{{property.email_address}}</td>
                 <td md-cell hide-gt-xs show-gt-md>{{property.listprice}}</td>
                 <td md-cell hide-gt-xs show-gt-lg>{{property.listPrice}}%</td>
                                
                <td md-cell hide-gt-xs show-gt-md>{{dessert.sodium.value}}</td>
                <td md-cell hide-gt-xs show-gt-lg>{{dessert.calcium.value}}%</td>
                <td md-cell hide-gt-xs show-gt-lg>{{dessert.iron.value}}%</td>
                
                <td md-cell aria-label="comment" ng-click="editComment($event, property)" ng-class="{'md-placeholder': !property.comments}">
                  {{property.comments || 'Add a comment'}}
                </td>
                
              </tr>
            </tbody>
          </table>
        </md-table-container>

        <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{desserts.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
      </md-card>
    </md-content>















